body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f8fa;
    color: #333;
    text-align: center;
}

h1 {
    color: #007BFF;
    margin-top: 20px;
    font-size: 24px;
    text-transform: uppercase;
}

select,
button {
    padding: 10px 15px;
    margin: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

button {
    background-color: #007BFF;
    color: white;
    font-weight: bold;
    border: none;
}

select:focus,
button:focus {
    outline: none;
    border-color: #007BFF;
}

div {
    margin-bottom: 20px;
}

.calendar-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    justify-items: center;
}

.month {
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 300px;
    text-align: center;
}

.week-header,
.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.day {
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.day:hover {
    background-color: #e0e0e0;
}

.empty {
    background-color: transparent;
}

#charts-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin: 20px 0;
}

.day.has-errors {
    background-color: #FFCCCC;
    font-weight: bold;
    border: 2px solid #FF0000;
}
